
# ignore packages installed by npm
node_modules

# Temp files
*.DS_Store
*.tmp
*.temp
*.json

# log files
*.log

#idea files
.idea
*.dat
# sublime files
*.sublime-project
*.sublime-workspace

*.pyc
upload/*
public/resources/video/*
